@using Restorant.DTOs.MenuItemDtos
@model List<GetAllMenuItemDtos>
<style>
    body {
        margin-left: 0;
        background-color: whitesmoke;
    }

    h1{
        margin-top: 100px;
        margin-bottom:30px
    }

    td {
        white-space: nowrap
    }
    img{
        width: 60px;
        height: 60px;
    }
    p{
        margin-top: 50px;
    }
    a {
        margin: 10px;
    }
</style>


<section class="container" style="margin-top:150px">
    <article style="text-align:center">
        <h1>All Meals</h1>
        <table class="table table-bordered " >
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Image
                    </th>

                    <th>
                        Price
                    </th>
                    <th>
                        CategoryName
                    </th>
                    <th style="width:200px">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="height:50px">
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td style="text-align:center">
                            <img src="~/images/@item.ImageUrl" />

                        </td>

                        <td>
                            @item.Price
                        </td>
                        <td>
                            @item.CategoryName
                        </td>
                        <td>
                            <a href="/Meal/Details/@item.Id"><i class="bi bi-eye" style="color:blue"></i></a>
                            <a href="/Meal/Edit/@item.Id"><i class="bi bi-pencil-square" style="color:darkblue"></i></a>
                            <a href="/Meal/Delete/@item.Id"><i class="bi bi-trash" style="color:red"></i></a>
                       
                            </td>
                    </tr>
                }
            </tbody>
        </table>

        <p>
            <a href="/Meal/Create" class="btn btn-primary">Add Meal</a>
        </p>
    </article>


    <hr style="margin-top:50px" />
    
   
    <article>
    </article>
</section>